<a href="https://colab.research.google.com/github/jonathan093084/analisis_datos/blob/main/Clase_Julio_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Revision y Limpieza de Datos

In [16]:
# Abrir el archivo e importar la data
import pandas as pd
df=pd.read_csv("salaries.csv")

In [17]:
#Se realiza la estadistica descriptiva de los datos
print(df.describe())

           work_year        salary  salary_in_usd   remote_ratio
count  136757.000000  1.367570e+05  136757.000000  136757.000000
mean     2024.374686  1.630432e+05  157490.722756      20.909716
std         0.679644  2.150435e+05   74173.546839      40.594326
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060000e+05  105900.000000       0.000000
50%      2024.000000  1.470000e+05  146000.000000       0.000000
75%      2025.000000  1.988000e+05  197800.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [18]:
#Mostramos un resumen de la información del DataFrame
# Esto incluye el número de entradas, el tipo de datos de cada columna y la cantidad de valores no nulos     
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136757 entries, 0 to 136756
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           136757 non-null  int64
 1   experience_level    136757 non-null  object
 2   employment_type     136757 non-null  object
 3   job_title           136757 non-null  object
 4   salary              136757 non-null  int64
 5   salary_currency     136757 non-null  object
 6   salary_in_usd       136757 non-null  int64
 7   employee_residence  136757 non-null  object
 8   remote_ratio        136757 non-null  int64
 9   company_location    136757 non-null  object
 10  company_size        136757 non-null  object
dtypes: int64(4), object(7)
memory usage: 11.5+ MB
None

In [19]:
#Revisamos si hay valores nulos en el DataFrame
print(df.isnull().sum())

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [20]:
#Revisamos los tipos de datos de cada columna
# Esto es útil para asegurarnos de que los datos estén en el formato correcto para el análisis
print(df.dtypes)

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [22]:
#Revisamos los valores únicos de las columnas relevantes
# Esto nos ayuda a entender la diversidad de datos en cada columna y detectar posibles inconsistencias  
print(df[['experience_level',
'employment_type',
'job_title',
'salary_currency',
'employee_residence',
'company_location',
'company_size']].nunique())

experience_level        4
employment_type         4
job_title             398
salary_currency        26
employee_residence    102
company_location       95
company_size            3
dtype: int64

In [3]:
#Importo las respectivas librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.gridspec as gridspec

#Convierto la columna de Order Data a tipo Fecha